body {
  text-align: center;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(91, 165, 145), rgb(183, 209, 201));
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 3em;
  width: 50vw;
  text-align: center;
  border-bottom: 2px solid black;
  transition: 1s all;
}

h1:hover {
  color: white;
}

img {
  width: 50%;
  height: 50%;
  margin: 20px;
  /* Makes the element transition when an action is taken upon it */
  transition: all .7s ease;
  border-radius: 10px;
}

/* hover defines the action being taken on the element. Now I can specify the changes */
img:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px rgb(89, 89, 89);
}